asgiref==3.10.0
Django==5.2.7
django-cors-headers==4.9.0
django-filter==25.2
django-redis==6.0.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-yasg==1.21.11
inflection==0.5.1
iniconfig==2.3.0
packaging==25.0
pillow==12.0.0
pluggy==1.6.0
postgres==4.0
psycopg2-binary==2.9.11
psycopg2-pool==1.2
Pygments==2.19.2
PyJWT==2.10.1
pytest==8.4.2
pytz==2025.2
PyYAML==6.0.3
redis==7.0.1
sqlparse==0.5.3
uritemplate==4.2.0
